In [45]:
#import school from SANGRUR folder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
#read all csv from SANGRUR folder and merge them
import os
path = './SANGRUR'
files = os.listdir(path)
files_csv = [f for f in files if f[-3:] == 'csv']
df = pd.DataFrame()
for f in files_csv:
    data = pd.read_csv(os.path.join(path, f))
    df = df.append(data)
    #remove duplicate
df = df.drop_duplicates()
df.head()
# show all columns
pd.set_option('display.max_columns', None)
df.head()
#merge the blocks and df
#read excel
df_block = pd.read_excel('./blocks/LUDHIANA.xlsx')
df_block.head()
#make first row as header
new_header = df_block.iloc[0] #grab the first row for the header
df_block = df_block[1:] #take the data less the header row
df_block.columns = new_header #set the header row as the df header
df_block.head()

/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
/var/folders/09/905d00cj45n1jrdrn2zd5f9c0000gn/T/ipykernel_94533/846169934.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

,S.No,UDISE,In database?,School Name,District,Same trades,Trade 1,9th Girls,9th Boys,IX Total,10th Girls,10th Boys,X Total,IX-X Total,11th Girls,11th Boys,XI Total,12th Girls,12th Boys,XII Total,XI-XII Total,Trade 2,9th Girls,9th Boys,IX Total,10th Girls,10th Boys,X Total,IX-X Total,11th Girls,11th Boys,XI Total,12th Girls,12th Boys,XII Total,XI-XII Total,Trade 3,9th Girls,9th Boys,IX Total,10th Girls,10th Boys,X Total,IX-X Total,11th Girls,11th Boys,XI Total,12th Girls,12th Boys,XII Total,XI-XII Total,NaN,Aggregate IX-X,Aggregate XI-XII
1,1,3020207202,3020207202,GSSS BHINDI SAIDAN,AMRITSAR,False,IT/ITES,8,17,25,9,11,20,45,7,12,19,7,16,23,42,Healthcare,17,6,23,8,11,19,42,9,9,18,9,1,10,28,NaN,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,0,0,NaN,87,70
2,2,3020304802,3020304802,GSSS OTHIAN,AMRITSAR,False,Security,11,7,18,6,3,9,27,8,7,15,0,0,0,15,Automotive,0,10,10,0,9,9,19,0,26,26,0,28,28,54,NaN,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,0,0,NaN,46,69
3,3,3020406602,3020406602,GSSS MANA WALA KALAN,AMRITSAR,False,Retail,7,16,23,15,6,21,44,0,70,70,6,13,19,89,Healthcare,8,16,24,9,15,24,48,39,0,39,5,6,11,50,NaN,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,0,0,NaN,92,139
4,4,3020501402,3020501402,GSSS WADALA VIRMBHOMA,AMRITSAR,False,Security,6,21,27,6,15,21,48,6,22,28,0,0,0,28,IT/ITES,8,16,24,14,7,21,45,12,16,28,7,3,10,38,NaN,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,0,0,NaN,93,66
5,5,3020802702,3020802702,GSSS NAWAN KOT G,AMRITSAR,False,Beauty and Wellness,36,0,36,28,0,28,64,19,0,19,21,0,21,40,Healthcare,31,0,31,25,0,25,56,34,0,34,20,0,20,54,NaN,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,0,0,NaN,120,94

In [47]:
df.head()

,displayFieldName,transform__originPosition,transform__scale,transform__translate,fieldAliases__objectid,fieldAliases__latitude,fieldAliases__longitude,fieldAliases__lgd_state_,fieldAliases__lgd_distri,fieldAliases__pincode,fieldAliases__schcd,fieldAliases__schname,fieldAliases__schmgt,fieldAliases__schcat,fieldAliases__schtype,fieldAliases__rururb,fieldAliases__school_cat,fieldAliases__school_typ,fieldAliases__stcode11,fieldAliases__dtcode11,fieldAliases__sdtcode11,fieldAliases__sdtname,fieldAliases__subdt_lgd,fieldAliases__vilcode11,fieldAliases__stname,fieldAliases__dtname,fieldAliases__vilname,fieldAliases__management,fieldAliases__location,fieldAliases__udise_stco,geometryType,spatialReference__wkid,spatialReference__latestWkid,fields__name,fields__type,fields__alias,fields__length,features__attributes__objectid,features__attributes__latitude,features__attributes__longitude,features__attributes__lgd_state_,features__attributes__lgd_distri,features__attributes__pincode,features__attributes__schcd,features__attributes__schname,features__attributes__schmgt,features__attributes__schcat,features__attributes__schtype,features__attributes__rururb,features__attributes__school_cat,features__attributes__school_typ,features__attributes__stcode11,features__attributes__dtcode11,features__attributes__sdtcode11,features__attributes__sdtname,features__attributes__subdt_lgd,features__attributes__vilcode11,features__attributes__stname,features__attributes__dtname,features__attributes__vilname,features__attributes__management,features__attributes__location,features__attributes__udise_stco,features__geometry__x,features__geometry__y,exceededTransferLimit
0,vilname,upperLeft,38.218514,68.501547,objectid,latitude,longitude,lgd_state_,lgd_distri,Pincode,schcd,School,Mngt Code,Cat_Code,Type Code,Rural_Urban,Category,School Type,stcode11,dtcode11,sdtcode11,Sub-district,subdt_lgd,vilcode11,State,District,Village,Management,Location,udise_stco,esriGeometryPoint,102100.0,3857.0,objectid,esriFieldTypeOID,objectid,NaN,940976,31.047346,75.580788,3.0,34.0,144039,3040906601,GPS RAMEWAL,1,1,3,1,Primary,Co-education,3,37,211,Phillaur,211.0,30056.0,PUNJAB,Jalandhar,Ramewal (96),Department of Education,Rural,3,220143,-95212,NaN
1,NaN,NaN,38.218514,35.032118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,latitude,esriFieldTypeDouble,latitude,NaN,939675,30.932993,75.556534,3.0,36.0,142025,3091104602,GMS KOT MANA,1,4,3,1,Upper Primary only,Co-education,3,41,230,Jagraon,230.0,33843.0,PUNJAB,Ludhiana,Kot Mana (18),Department of Education,Rural,3,220073,-94824,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,longitude,esriFieldTypeDouble,longitude,NaN,939891,30.943320,75.583791,3.0,36.0,142025,3091101903,NEW PUNJAB PUBLIC SCHOOL,5,3,3,1,Pr. with Up.Pr. Sec. and H.Sec.,Co-education,3,41,230,Jagraon,230.0,33820.0,PUNJAB,Ludhiana,Bhundri (16),Pvt. Unaided (Recognized),Rural,3,220152,-94859,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lgd_state_,esriFieldTypeInteger,lgd_state_,NaN,939036,30.904885,75.420281,3.0,36.0,142033,3091108201,GPS SODIWALA,1,1,3,1,Primary,Co-education,3,41,230,Jagraon,230.0,33872.0,PUNJAB,Ludhiana,Sodhiwala (42),Department of Education,Rural,3,219676,-94728,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lgd_distri,esriFieldTypeInteger,lgd_distri,NaN,940592,31.012063,75.420986,3.0,34.0,144041,3041101901,GPS GOBINDPUR,1,1,3,1,Primary,Co-education,3,37,210,Nakodar,210.0,29988.0,PUNJAB,Jalandhar,Baloki (316),Department of Education,Rural,3,219678,-95092,NaN

In [48]:
# merge df and df_block and remove using UDISE and SCHCD
df_master = pd.merge(df, df_block, left_on='features__attributes__schcd', right_on='UDISE', how='inner')
#check number of misses for ludhiana

In [49]:
df_master.head()
#total number of rows
df_master.shape
df_master.head()
# df master should only have UDISE lat long and school name
df_master = df_master[['UDISE', 'features__attributes__latitude', 'features__attributes__longitude', 'School Name']]
df_master.drop_duplicates(inplace=True)

In [50]:
df_master.shape

(390, 4)

In [51]:
df_master.head()
#export to csv
df_master.to_csv('./master.csv', index=False)